<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto grid max-w-screen-xl px-4 py-8 text-center lg:py-16">
    <div class="mx-auto place-self-center">
      <h1 class="mb-4 max-w-2xl text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">
        Welcome to Angular Boilerplate
      </h1>
      <p class="mb-6 max-w-2xl font-light text-gray-500 md:text-lg lg:mb-8 lg:text-xl dark:text-gray-400">
        This is a sample page to get you started. You can find the source code for this page in
        <code class="rounded bg-gray-200 px-2 py-1 font-mono text-sm dark:bg-gray-700">src/app/pages/welcome</code>.
      </p>
      <a
        href="https://angular.dev/"
        target="_blank"
        class="mr-4 inline-flex items-center justify-center rounded-lg bg-blue-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Learn Angular
      </a>
      <a
        href="https://github.com/ashusoni-eng/angular-tailwind-template"
        target="_blank"
        class="inline-flex items-center justify-center rounded-lg border border-gray-300 px-5 py-3 text-center text-base font-medium text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800"
      >
        View on GitHub
      </a>
    </div>
  </div>
</section>