<header
  class="flex h-14 z-10 items-center md:gap-4 gap-1 md:border-b md:shadow-none shadow-lg shadow-gray-navbar bg-white px-[0.5rem] fixed w-full"
  [ngClass]="{'pl-64': isExpanded, 'md:pl-[5rem] pl-[4rem]': !isExpanded}">
  <h1 class="text-black whitespace-nowrap md:text-lg text-sm font-bold transition-all duration-300" [title]="pageTitle">
    {{ pageTitle }}
  </h1>
  <div class="flex-1"></div>
  <nav class="flex items-center gap-2">    
    <div class="relative" #dropdownContainer>
      <button (click)="toggleDropdown()" class="flex items-center gap-2 rounded-lg px-3 py-2 text-gray-700">
        <img [src]="profileImage()" alt="User" class="h-8 w-8 rounded-full" />
        <span>{{ userDataStorage()?.name || user()?.name }}</span>
        <i class="fas fa-chevron-down"></i>
        <img src="assets/images/svg/dropdown-profile.svg">
      </button>

      <div *ngIf="dropdownOpen"
        class="absolute right-0 mt-2 w-48 rounded-md bg-white py-1 shadow-lg shadow-gray-shadowg border border-gray-shadowborder z-10">
        <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>        
        <button (click)="logout()" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign
          out</button>
      </div>
    </div>
  </nav>
</header>